<!DOCTYPE html>
<html>
<head>
    <title>Ninjas Information</title>
    <meta charset="utf-8">
</head>
<body>
    <div class="wrapper">
        <h1>Ninjas Information</h1>
        <div class="shuriken">
            <h4>Wepons Ninjas Used</h4>
                <ul style="list-style: none;">
                    <li>Shuriken</li>
                    <li>Swords</li>
                    <li>Kusarigama</li>
                    <li>Kunai</li>
                    <li>Makibishi</li>
                    <li>Tekko-Kagi</li>
                    <li>Kakute</li>
                    <li>Manriki-Gusari</li>
                    <li>Tekken</li>
                    <li>Needle</li> 
                    <li>Blow Gun</li>
                    <li>Firearms</li>
                    <li>Nigiri-Teppo</li>
                    <li>Shikomizue</li>
                    <li>Nekode</li>
                    <li>Metsubushi</li>
                    <li>Shikoro</li>
                    <li>Shinobi-Kumade</li>
                    <li>Kaginawa</li>
                    <li>Mizugumo</li>                   
                    <li>Hidane</li>
                    <li>Yatate</li>
                    <li>Amigasa</li>
                    <li>Kiki-Zutsu</li>
                    <li>Goshiki-Mai</li>
                </ul>
         </div> 
         <p>Disclamer: This information was borrowed and may or may not be accurate</p>
         </div>
            <a href="/"><button>Home</button></a>
            <a href="/ninjaNew"><button>Next</button></a>
       </body>
    </div>
</body>
</html>